*.d.ts
*.js
!jest.config.js
!usecases/guest-mobile-banking-sample/lib/frontend/src/**/*.js
node_modules
.DS_Store

# VSCode user-specific settings
.vscode/settings.json

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# CDK context
cdk.context.json
